a,
a:focus,
a:hover {
  color: #DD4814;
  text-decoration: none;
}

html {
  position: relative;
  height: 100%;
}
body {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.container-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border: 1px solid black;
  border-radius: 10px;
}

.container-center.responsive {
  width: 80%; 
  height: 50%;
  min-width: 400px;
  max-width: 600px;
  padding: 40px;
}

.slide{
  display: none;
}

#start{
  display: block;
}

.answer-options {
  margin: 6px;
  color: black;
  display: block;
}

.github-corner:hover .octo-arm{
  animation:octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}

.inspired {
  position:fixed;
  bottom:0;
  right:0;
  left:0;
  text-align:center;
}


/* Responsiveness */
@media (max-width: 480px), (max-height: 600px) {
    .container-center.responsive {
        min-width: 200px;
        width: 100%; 
        height: 80%;
        padding: 16px;
    }
    
    .github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}
}

@keyframes blink{
  to{opacity: .0;}
}
